<app-app-menu (addArea)="onStartAddArea()"></app-app-menu>

@if(isEditingArea){
<app-area [areaToEdit]="selectedArea" (close)="onCloseEditArea()" />
} @if(isAddingArea){
<app-new-area (close)="onCloseAddArea()" />
}

<div class="relative m-6 mt-2 overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-300 dark:text-gray-400"
  >
    <thead class="text-xs text-gray-200 uppercase dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">#</th>
        <th scope="col" class="px-6 py-3">Área</th>
        <th scope="col" class="px-6 py-3">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(area of areas; track area.id){
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ area.id }}
        </th>
        <td class="px-6 py-4">{{ area.description }}</td>
        <td class="flex px-4 py-4 space-x-10">
          <button
            class="font-medium cursor-pointer"
            (click)="onStartEditArea(area.id)"
          >
            <img src="assets/edit-icon.svg" alt="edit-icon" />
          </button>
          <button
            class="font-medium cursor-pointer"
            (click)="onDeleteArea(area.id)"
          >
            <img src="assets/delete-icon.svg" alt="delete-icon" />
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
