<app-app-menu (addEmployee)="onStartAddEmployee()"></app-app-menu>

@if(isEditingEmployee){
<app-employee
  [employeeToEdit]="selectedEmployee"
  (close)="onCloseEditEmployee()"
/>
} @if(isAddingEmployee){
<app-new-employee (close)="onCloseAddEmployee()" />
}

<div class="relative m-6 mt-2 overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-300 dark:text-gray-400"
  >
    <thead class="text-xs text-gray-200 uppercase dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">#</th>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Correo</th>
        <th scope="col" class="px-6 py-3">Teléfono</th>
        <th scope="col" class="px-6 py-3">Área</th>
        <th scope="col" class="px-6 py-3">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees; track employee.id) {
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ employee.id }}
        </th>
        <td class="px-6 py-4">{{ employee.name }}</td>
        <td class="px-6 py-4">{{ employee.email }}</td>
        <td class="px-6 py-4">{{ employee.phone }}</td>
        <td class="px-6 py-4">
          {{ employee.area ? employee.area.description : "" }}
        </td>
        <td class="flex px-4 py-4 space-x-10">
          <button
            (click)="onStartEditEmployee(employee.id)"
            class="cursor-pointer"
          >
            <img src="assets/edit-icon.svg" alt="edit-icon" />
          </button>
          <button
            class="cursor-pointer"
            (click)="onDeleteEmployee(employee.id)"
          >
            <img src="assets/delete-icon.svg" alt="delete-icon" />
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
