/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .active-btn {
    background-color: #506080;
    color: white;
  }